<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>글 상세</title>
</head>

<main layout:fragment="main">
    <section>
        <div class="container px-3 mx-auto mt-3">
            <h1 class="font-bold text-lg flex">
                <i class="fa-solid fa-newspaper mr-2"></i>
                <span class="ml-[2px] hidden sm:block" th:text="${post.id}"></span>.
                <span class="ml-[2px] hidden sm:block" th:text="${post.subject}"></span>
            </h1>

            <div class="mt-3">
                <div class="flex">
                    <i class="fa-solid fa-clock mr-2"></i>
                    작성일 : <span class="ml-[2px] hidden sm:block" th:text="${post.createDate}"></span>
                </div>
                <div class="mt-2 flex">
                    <i class="fa-solid fa-pen-to-square mr-2"></i>
                    수정일 : <span class="ml-[2px] hidden sm:block" th:text="${post.updateDate}"></span>
                </div>
                <div class="mt-2">
                    <a th:href="@{|/post/${post.id}/modify|}" class="btn btn-secondary btn-outline btn-sm" sec:authorize="isAuthenticated()">수정</a>
                    <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/post/${post.id}/delete|}" class="btn btn-secondary btn-outline btn-sm" sec:authorize="isAuthenticated()">삭제</a>
                </div>
                <hr class="mt-2">
                <div>
                    <div class="text-lg mt-2" th:utext="${post.getContentHtml()}">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const viewer = new Viewer({
            el: document.querySelector('#viewer'),
            height: '600px',
            initialValue: '# hello'
        });
    </script>
</main>

</html>