<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 작성</title>
</head>

<body>
<main layout:fragment="main">
    <script>

    </script>
    <section>
        <div class="container px-3 mx-auto mt-3">
            <h1 class="font-bold text-lg">글쓰기</h1>

            <form th:action method="POST" class="flex flex-col gap-3" onsubmit="PostWrite__submit(this); return false;">
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input name="subject" type="text" maxlength="50" placeholder="제목을 입력해주세요." class="input input-bordered w-full max-w-xs" />
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">내용</span>
                    </label>
                    <input type="hidden" name="content" id="content"/>
                    <div id="editor" class="editor"></div>
                </div>


                <div class="mt-2">
                    <input class="btn btn-secondary btn-outline w-[100%]" type="submit" value="글 작성">
                </div>
            </form>

        </div>
    </section>

    <script>
        const editor = new toastui.Editor({
            el: document.querySelector("#editor"),
            previewStyle: 'vertical',
            height: '450px',
            placeholder: "내용을 입력해주세요."
        })

        function PostWrite__submit(form) {
            form.subject.value = form.subject.value.trim();
            if (form.subject.value.length == 0) {
                warningModal("제목을 입력해주세요.");
                form.subject.focus();

                return;
            }

            const markdown = editor.getMarkdown();
            console.log(markdown);
            form.content.value = markdown.trim();
            if (form.content.value.length == 0) {
                warningModal("내용을 입력해주세요.");
                editor.focus();
                return;
            }

            form.submit();
        }
    </script>

</main>
</body>
</html>